<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <a href="{{namba.url}}" class="lead">{{namba.title}}</a>
    <p>{{namba.content}}</p>
    <div class="text-right">{{this.subnamba}}</div>
    <p>{{namba.author.username}}</p>
    <form action="/nambas/{{namba._id}}/yorums" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
  <div>
 <h2>Comments</h2>
 {{#each namba.yorums}}
  <p>{{this.content}}</p>
  <p class="text-right">{{this.author.username}}</p>
  <hr>
 {{/each}}
</div>
  </div>
  
 
</div>